Source: ros-lyrical-tuw-multi-robot-msgs
Section: misc
Priority: optional
Maintainer: Benjamin Binder <benjamin.binder@tuwien.ac.at>
Build-Depends: debhelper (>= 9.0.0), ros-lyrical-ament-cmake, ros-lyrical-ament-cmake-cppcheck <!nocheck>, ros-lyrical-ament-cmake-gtest <!nocheck>, ros-lyrical-ament-lint-auto <!nocheck>, ros-lyrical-ament-lint-common <!nocheck>, ros-lyrical-builtin-interfaces, ros-lyrical-geometry-msgs, ros-lyrical-rosidl-default-generators, ros-lyrical-std-msgs, ros-lyrical-ros-workspace, ros-lyrical-rosidl-typesupport-fastrtps-c, ros-lyrical-rosidl-typesupport-fastrtps-cpp
Homepage: https://index.ros.org/p/tuw_multi_robot_msgs/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-tuw-multi-robot-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-builtin-interfaces, ros-lyrical-geometry-msgs, ros-lyrical-rosidl-default-runtime, ros-lyrical-std-msgs, ros-lyrical-ros-workspace
Description: The tuw_multi_robot_msgs package contains messages for sending graph, route and sync data over topics.
